.navegador{
    background-color: #134074;
}
.navegador div li a{
    display: inline-block; 
    font-size:larger;
    text-decoration: none;
    font-family: 'Quicksand';
    color: #D7DAE5;
    font-weight: bold;
}
.navegador img{
    width: 60px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 10px;
    
}
.navegador div a:hover{
    color: #ffa630;

}
.navegador div a{
    font-size: xx-large;
    color: #ffa630;
    font-family: 'Quicksand';
    font-weight: bold;

}
.navbar-nav > li{
    padding-left: 20px;
    padding-right: 20px;
}
.rodape{
    background-color: #134074;
}
.rodape li{
    display: inline-block;
    text-decoration: none;
    
}
.rodape a{
    padding-right: 30px;
}
#ativo{
    color: #ffa630;
  }