.destaque{
    color: #ffa630;
}

.fundoInicio{
    background-color: #D9D9D9;
    max-height: auto;
    max-height: auto;
    border-radius: 15px;
    padding: 10px;
}

.textoInicio{
    padding-left: 30px;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: large;
    color: #134074;
}

.textoInicio h1{
    font-weight: bolder;
}

hr{
    display: block;
    margin: 10px;
    color: #134074;
}

.centered {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block; 
    font-size: 2vw;
    font-family: 'Quicksand';
    color: #D7DAE5;
    font-weight: bold;
    text-shadow: 2px 2px gray;
    text-align: justify;
    text-decoration: none;
  }
.centered h1{
    font-weight: bold;
    color: #ffa630;
    font-size: 3vw;
    text-shadow: 4px 4px #134074;
    text-align: left;
}

.carousel-inner{
    border-radius: 25px;
    aspect-ratio: 2.5/1.5;
}

.descricao{
    font-family: 'Quicksand';
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

.lista h5{
    text-shadow: 1px 1px gray;
}

.lista li{
    font-family: 'Quicksand';
    font-weight: bold;
}