.carousel-inner{
    border-radius: 25px;
    aspect-ratio: 2.5/1.5;
}

.caixaTexto{
    font-family: "Quicksand";
    font-weight: bold;
    color: #134074;
    font-size: larger;
    margin-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.caixaTexto h4{
    font-weight: bolder;
    color: #ffa630;
    text-shadow: 0 1px #134074;
}

.destaque{
    color: #ffa630;
}

.textoDoar{
    background-color: #D9D9D9;
    max-height: auto;
    border-radius: 15px; 
}

.textoDoar p{
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: large;
    color: #134074;
    text-align: center;
  }

.tituloSeparatoria{
    text-align: center;
    color: #ffa630;
    font-family: 'Quicksand';
    font-weight: bolder;
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #ffa630; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
  }
.tituloSeparatoria span{
    background-color: white;
    padding:0 10px; 
  }

.patrocinadores{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.colunaPatrocinadores{
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
}

.colunaPatrocinadores img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px){
    .colunaPatrocinadores{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .colunaPatrocinadores{
        flex: 100%;
        max-width: 100%;
    }
}